{sub_dirs, [
            "apps/yebot",
            "rel"
           ]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, fail_on_warning]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.0"}}},
    {exmpp, ".*", {git, "https://github.com/Navgeet/exmpp.git", {branch, "master"}}},
    {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", {branch, "master"}}},
    {exml, ".*", {git, "https://github.com/esl/exml.git", {tag, "2.1.5"}}}
]}.

{require_otp_vsn, "R15"}.
